<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573793781786-kshactjd62n0pgo65gnvtfvjg27n4osc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573793781786-kshactjd62n0pgo65gnvtfvjg27n4osc</string>
	<key>API_KEY</key>
	<string>AIzaSyCXPVkXXE2z_ccUVLF5o5XlwEo30shMENs</string>
	<key>GCM_SENDER_ID</key>
	<string>573793781786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshaykumar.MyMessagingApp</string>
	<key>PROJECT_ID</key>
	<string>mymessagingapp-3074d</string>
	<key>STORAGE_BUCKET</key>
	<string>mymessagingapp-3074d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573793781786:ios:df7c97fe0d9af5566de9a3</string>
</dict>
</plist>